.slider--root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slider--item {
    flex: none;
    box-sizing: content-box;
}

.slider--end-spacer {
    flex: none;
    height: 0;
    width: 10000px;
}
